.homeScreenContainer {
    display: flex;
    flex-direction: column;
    background-image: url('../assets/images/crypt-main.jpg');
    background-size: contain;
    background-position: top center;
    min-height: 100vh;
    width: 100%;
}

.homeScreenTitle h2 {
    color: white;
}

.searchInput {
    padding: 4px;
    border-radius: 6px;
    border: none;
}

.cryptoListContainerDiv {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    max-width: calc((200px * 4) + (20px * 3));
    margin: 0 auto;
    gap: 20px;
    padding: 20px 0;
    box-sizing: border-box;
}

@media (max-width: 1024px) {
    .cryptoListContainerDiv {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .cryptoListContainerDiv {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .cryptoListContainerDiv {
        grid-template-columns: 1fr;
    }
}

/*card elements*/
.cardRoot {
    position: relative;
    width: 100%;
    max-width: 200px;
    height: 250px;
    background-color: transparent;
}

.cardFlipper {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.cardRoot.flipped .cardFlipper {
    transform: rotateY(180deg);
}

.cardFrontFace,
.cardBackFace {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: lightgray;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardFrontFace {
    z-index: 2;
    transform: rotateY(0deg);
}

.cardBackFace {
    z-index: 1;
    transform: rotateY(180deg);
}

.cryptoSymbolName {
    font-size: 20px;
    font-weight: bold;
}



/* card toggle switch elements*/
.showMoreInfoBtn {
    border: none;
    color: white;
    font-size: 14px;
    background-color: #ffb700;
    border-radius: 8px;
    padding: 10px 0;
    margin-top: auto;
    width: 100%;
}

.backFaceContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-content: center;
    align-items: center;
    text-align: center;
}

.backFaceContent p{
    color: black;
    font-size: 14px;
    font-family: Arial;
}

.showLessInfoBtn {
    border: none;
    color: white;
    font-size: 14px;
    background-color: rgba(92, 92, 92, 0.84);
    border-radius: 8px;
    padding: 10px 0;
    margin-top: auto;
    width: 100%;
}


.toggleWrapper {
    width: 40px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
    cursor: pointer;
    border-radius: 150px;
}

.toggleCheckbox {
    display: none;
}

.toggleVisualTrack {
    position: relative;
    width: 40px;
    height: 20px;
    border-radius: 150px;
    background: white;
    transition: background 0.2s;
    cursor: pointer;
    z-index: 5;
}

.toggleVisualTrack::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background: #5271aa;
    border-radius: 150px;
    transition: transform 0.2s;
}

.toggleCheckbox:checked ~ .toggleVisualTrack{
    background: #96b3e8;
}

.toggleCheckbox:checked ~ .toggleVisualTrack::after {
    transform: translateX(20px);
}

