.fullScreenContainer, .liveServeMain {
    width: 100%;

}

.liveServeMain {
    height: 100vh;
    padding-top: 0;
}
.emptyStateMessageDiv {
    width: 70%;
    margin: 0 auto;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

.emptyStateMessage {
    font-size: 26px;
}

.chartWrapper {
    border-radius: 6px;
    padding: 16px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 1);
}

.chartWrapper h4 {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 18px;
    color: black;
}

.chartContainer {
    width: 95%;
    margin: 20px auto;
    padding: 20px;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-sizing: border-box;
}

.candlestickChart {
    height: 250px;
    width: 100%;
}